@page
@model PetProject.Pages.Animals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetBreed1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetBreed1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetBreed2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetBreed2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetGender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetLastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetLastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetPhotosLink)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.Pets.PetPhotosLink)">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.PetType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pets.Shelter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.Shelter.ShelterLatitude)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Pets.Shelter.ShelterLongitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pets.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<!DOCTYPE html>
<html>
<body>

    <h1>Shelter's Location</h1>
     
    <div id="googleMap" style="width:100%;height:400px;"></div>

    <script>
        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng( @Html.DisplayFor(model => model.Pets.Shelter.ShelterLatitude),  @Html.DisplayFor(model => model.Pets.Shelter.ShelterLongitude)),
                zoom: 5,
                
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            console.log
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLPTXlVP6FbkUzx87cUkohN1ZxoaUx22A&callback=myMap"></script>

</body>
</html>
